@import url("IRANYekan.css");
@import url("IranSans.css");

body {
    font-family: "IRANYekan", sans-serif;
    direction: rtl !important;
    background-color:#F2EDED;
}

.table-body tr:nth-child(even){
    background-color: #F8F8F8;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #DB3746 !important;
    color: white;
}