@import url("IRANYekan.css");
@import url("IranSans.css");

body {
    font-family: "IRANYekan", sans-serif;
    direction: rtl !important;
    background-color:#F2EDED;
    word-spacing: -3px !important; ;
}

.table-body tr:nth-child(even){
    background-color: #F8F8F8;
}
.muirtl-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #DB3746 !important;
    color: white;
}
.plate{
    background-image: url("/car-plate-default.svg");
    background-size: 100% 100%;
    width: 100%;
    height: 46px;
    background-repeat: no-repeat;
    display: inline-flex;
    box-sizing: content-box;
    border-radius: 5px;
    max-width: 230px;
    min-width: 230px;
}

@media only screen and (max-width: 768px){
    .table-body tr:hover{
        background-color: #efefef;
        cursor: pointer;
    }
}